.breadcrumbs {
    width: 96%;
    background-color: #eee;
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 15px;
        ul li {
            float: left;
            list-style: none;
         }
}

.divider {
    padding-right: 3px;
}

// .breadcrumbs ul li {
//     float: left;
//     list-style: none;
// }