.reviews {
    padding: 70px 0 71px 0;
    // &__item {
    //     padding-top: 70px;
    //     display: flex;
    //     justify-content: space-between;
    // }
    // &__img  {
    //     margin-right: 62px;
    // }
    // &__header {
    //     color: #0d0d0d;
    //     font-size: 18px;
    //     font-weight: 700;
    // }
    // &__subheader {
    //     margin-top: 10px;
    //     color: #646464;
    //     font-size: 14px;
    //     font-weight: 300;
    // }
    // &__descr {
    //     margin-top: 19px;
    //     color: #0d0d0d;
    //     font-size: 16px;
    //     font-weight: 300;
    //     line-height: 16px;
    // }
}

.newsflash_glav {
    padding: 40px 0 0 0;
    p {
        min-height: 120px;
        margin-bottom: 40px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
    }
}

.newsflash-title_glav {
    display: none;
}

.newsflash-image {
    img {
        margin-right: 62px;
        float: left;
        border-radius: 100%;
    }
}

figcaption {
    margin-bottom: 20px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
}



.table_img_price {
    margin-right: 35px;
    border-radius: 100%;
    float: left;
    
}